<html>
<body>
    <h3>Student graduation prediciton</h3>

<div>
  <form action="/result" method="POST">
    
    <label for="gpa">gpa</label>
    <input type="text" id="gpa" name="gpa">
    <br>
    <label for="maths_exam">maths_exam</label>
    <input type="text" id="maths_exam" name="maths_exam">
    <br>
    <label for="art_exam">art</label>
    <input type="text" id="art_exam" name="art_exam">
    <br>
    <label for="language_exam">languag_exam</label>
    <input type="text" id="language_exam" name="language_exam">
    <br>
    <label for="social_activity">social_activity</label>
    <input type="text" id="social_activity" name="social_activity">
    <br>
    <label for="essay_score">essay_score</label>
    <input type="text" id="essay_score" name="essay_score">
    <br>
    <label for="interview_score">score</label>
    <input type="text" id="interview_score" name="interview_score">
    <br>
    <label for="score">score</label>
    <input type="text" id="score" name="score">
<br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>
